<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>


<nav th:fragment="navLoggedIn">
    <a href="/">Jabble</a>
    <a href="/newgab">Create a new Jab</a>
    <a href="/">
        Logged in as: <span th:text="${#httpSession.getAttribute('username')}"></span>
    </a>
    <a href="/logout">Log Out</a>
</nav>

<nav th:fragment="navNotLoggedIn">
    <a href="/login">Log in</a>
    <a href="/signup">Sign Up</a>
</nav>


    <div th:fragment="loginForm">
        <ul class="errorMessages">
            <li th:each="message : ${errorMessages}"
                th:text="${message}"></li>
            <li th:text="${errorMessage}"></li>
        </ul>

        <h2>Log in to Jabble</h2>

        <form class="loginForm" action="/login" method="post">
            <label for="username">Username</label><br/>
            <input type="text" name="username" id="username" autofocus="true" required="true" autocomplete="off"/><br/>

            <label for="password">Password</label><br/>
            <input type="password" name="password" id="password" required="true"/><br/>

            <button type="submit">Log In</button>
        </form>

        <script type="text/javascript" src="/js/login.js"></script>
    </div>




    <div th:fragment="signupForm">
        <ul class="errorMessages">
            <li th:each="message : ${errorMessages}"
                th:text="${message}"></li>
        </ul>
        <h2>Sign Up for Jabble</h2>

        <form action="/signup" method="post">
            <label for="username">Username</label><br/>
            <input type="text" name="username" required="true" autofocus="true" autocomplete="off"/><br/>

            <label for="password">Password</label><br/>
            <input type="password" name="password" required="true"/><br/>

            <label for="password">Confirm Password</label><br/>
            <input type="password" name="passwordConfirm" required="true"/><br/>

            <button type="submit">Sign Up</button>
        </form>

        <script type="text/javascript" src="/js/signup.js"></script>
    </div>




    <div th:fragment="db">
        <ul>
            {{#results}}
            <li>id: {{id}}, name: {{username}}</li>
            {{/results}}
        </ul>
    </div>





    <div th:fragment="index">
        <div th:each="jab : ${jabs}" class="jabContainer">
            <div class="insideContainer">
                <p><span class="createdBy" th:text="">{{username}}</span>: {{body}}</p>
                <p class="createdAt" th:text="${formattedCreatedAt}"></p>
                <span class="msgId" th:text="${messageID}"></span>
                <a th:href="@{/message/${messageID}}"><span class="likes">{{likes}}</span></a>
            </div>
            <div class="buttonContainer">
                <form class="likeBtnForm" action="likeMsg" method="post" target="hiddenFrame">
                    <button name="id" class="likeBtn" value="{{id}}">Like</button>
                </form>
                <form class="delBtnForm" action="/delMsg" method="post">
                    <button name="id" class="delBtn" value="{{id}}">Delete</button>
                </form>
            </div>
            <hr class="sexy-line"/>
        </div>


        <iframe name="hiddenFrame" width="0" height="0" style="display: none;"></iframe>
        <script type="text/javascript" src="/js/index.js"></script>
    </div>





    <div th:fragment="message">
        {{#msg}}{{username}}: {{body}}<br/>{{month}} {{day}}, {{year}} {{time}}{{/msg}}
        <h1>Liked By</h1>
        <ul>
            {{#likes}}
            {{#likedBy}}
            <li>{{username}}</li>
            {{/likedBy}}
            {{/likes}}
        </ul>
    </div>





    <div th:fragment="newgab">
        <form class="newGabForm" action="/newgab" method="post">
            <textarea name="newGab" autofocus="true" autocomplete="off"></textarea>
            <button type="submit">Save Gab</button>
        </form>
        <p class="remaining">140 characters remaining</p>
        <script type="text/javascript" src="/js/newgab.js">
        </script>
    </div>


</body>
</html>