<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Jabble</title>
    <link rel="stylesheet" href="/css/index.css"/>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet"/>
</head>

<body>
<div th:if="${#httpSession.getAttribute('username')}" th:remove="tag">
    <nav th:replace="fragments :: navLoggedIn"></nav>
</div>
<div th:unless="${#httpSession.getAttribute('username')}" th:remove="tag">
    <nav th:replace="fragments :: navNotLoggedIn"></nav>
</div>

<div th:if="${#httpSession.getAttribute('username')}" th:remove="tag">
    <div th:replace="fragments :: index"></div>
</div>

</body>
</html>
